body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire screen */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Places the image behind the content */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the container */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 40px;
    border-radius: 10px;
    
    
    
}

h2 {
    margin-bottom: 20px;
}

.btn {
    display: block;
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.back-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: darkgreen;
}

a {
    text-decoration: none;
}
 