.card-header{
    background-color:rgb(7, 180, 114) ;
  }
  .mm1{
    width: 1520px;
    background-color: rgb(162, 211, 211);
    height: 500px;
    border: 1px solid;
    padding-top: 25px;
    padding-left: 25px;
  }
  
  
  .btn1{
    margin-left: 1200px;
    margin-top: 50px;background-color: rgb(3, 93, 24) ;
    border: none;
    border-radius: 5px;
  }
  
  
  
  
  
  
  
  
  .btn1:hover{
    background-color:rgb(124, 6, 234);
  }
  
  #btn3{
    float:right;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
  }
  
  #btn3:hover{
    background-color: rgb(92, 103, 103);
    color: black;
  }
  
  .nav-link{
    color: blue;
  }