.image-container {
    position: relative;
    display: inline-block;
}
.image-container img {
    display: block;
    width: 100%;
    height: auto;
}
.image-text {
    position: absolute;
    top: 10%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: rgb(149, 171, 154);
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}

button{
    text-align: center;
    font-size: x-large;
    width: 400px;
    padding-top: 10px ;
    padding-bottom: 10px;
    background-color: chartreuse;
    color: green;
}